@layer variables {
  :root {
    --clr-neutral-900: #12131a;
    --clr-neutral-800: #21222c;
    --clr-neutral-700: #2a2b37;
    --clr-neutral-600: #404254;
    --clr-neutral-200: #e4e4ef;
    --clr-neutral-100: #f2f2f7;
    --clr-neutral: #fff;

    --clr-purple-400: #d3a0fa;
    --clr-purple-500: #c27cf8;

    --clr-yellow-500: #ff9f00;

    --clr-orange-500: #fe8159;
    --clr-orange-800: #da3701;

    --spacing-2: 0.2rem;
    --spacing-4: 0.4rem;
    --spacing-6: 0.6rem;
    --spacing-8: 0.8rem;
    --spacing-12: 1.2rem;
    --spacing-16: 1.6rem;
    --spacing-20: 2rem;
    --spacing-24: 2.4rem;
    --spacing-32: 3.2rem;
    --spacing-40: 4rem;
    --spacing-48: 4.8rem;
    --spacing-64: 6.4rem;
    --spacing-80: 8rem;

    --radius-4: 0.4rem;
    --radius-6: 0.6rem;
    --radius-8: 0.8rem;
    --radius-10: 1rem;
    --radius-12: 1.2rem;
    --radius-16: 1.6rem;
    --radius-20: 2rem;
    --radius-24: 2.4rem;
    --radius-full: 99rem;
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }

    color-scheme: light dark;
  }

  body {
    font-family: "DM Sans", sans-serif;
    line-height: 1;
    background-color: light-dark(var(--clr-neutral), var(--clr-neutral-900));
    background: url(./images/bg-light-theme.png) no-repeat center/cover;

    @media (prefers-color-scheme: dark) {
      background: url(./images/bg-dark-theme.png) no-repeat center/cover;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-wrap: balance;
    }

    p {
      max-width: 75ch;
      text-wrap: pretty;
    }

    img,
    picture,
    video,
    svg {
      display: block;
      max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
      font: inherit;
    }

    [role="list"] {
      list-style: none;
    }
  }
}

@layer utilities {
  .container {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-40);
    max-width: 99rem;
    margin: var(--spacing-16) var(--spacing-16) var(--spacing-32);

    @media (min-width: 48em) {
      margin-inline: var(--spacing-32);
    }
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@layer layout {
  .navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .navigation__logo {
    width: 20rem;
    height: 3rem;
    background: url(./images/logo-light-theme.svg) no-repeat center/contain;

    @media (prefers-color-scheme: dark) {
      background: url(./images/logo-dark-theme.svg) no-repeat center/contain;
    }

    @media (min-width: 48em) {
      width: 24.5rem;
      height: 4rem;
    }
  }

  .navigation__btn {
    background-color: var(--clr-neutral-100);
    border: none;
    padding: var(--spacing-6);
    border-radius: var(--radius-6);

    @media (prefers-color-scheme: dark) {
      background-color: var(--clr-neutral-700);
    }

    @media (min-width: 48em) {
      padding: 1.1rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
  .navigation__switch {
    width: 2rem;
    height: 2rem;
    background: url(./images/icon-moon.svg) no-repeat center/contain;

    @media (prefers-color-scheme: dark) {
      background: url(./images/icon-sun.svg) no-repeat center/contain;
    }

    @media (min-width: 48em) {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  .heading {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    text-align: center;
    text-wrap: auto;

    @media (min-width: 48em) {
      font-size: 6.4rem;
      text-wrap: balance;
    }
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--spacing-16);
  }

  .main__text {
    width: 100%;
    height: 20rem;
    background-color: var(--clr-neutral-100);
    border: none;
    box-shadow: inset 0 0 0 2px var(--clr-neutral-200);
    border-radius: var(--radius-12);
    padding: var(--spacing-12);
    resize: none;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.06rem;
    color: var(--clr-neutral-700);
    outline: none;

    @media (min-width: 48em) {
      font-size: 2rem;
      padding: var(--spacing-20);
    }

    &::placeholder {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }

    &:focus {
      box-shadow: inset 0 0 0 2px var(--clr-purple-500);
      filter: drop-shadow(0 0 2px var(--clr-purple-400));
      background-color: var(--clr-neutral-200);
    }

    &:hover {
      background-color: var(--clr-neutral-200);
      cursor: pointer;
    }
  }

  .main__filters {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--spacing-12);

    @media (min-width: 26.5em) {
      display: flex;
      flex-flow: row wrap;
      gap: var(--spacing-24);
      align-items: center;
    }

    @media (min-width: 48em) {
      p {
        margin-inline-start: auto;
      }
    }

    div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 1rem;
      height: 2.1rem;
    }

    label,
    p {
      font-size: 1.6rem;
      line-height: 1.3;
      font-weight: 400;
      color: var(--clr-neutral-900);
      letter-spacing: -0.06rem;
    }

    div input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
      position: relative;
      width: 1.6rem;
      height: 1.6rem;
      border: none;
      box-shadow: inset 0 0 0 1px var(--clr-neutral-900);
      border-radius: var(--radius-4);

      &:checked::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 6px;
        width: 4px;
        height: 10px;
        border: solid var(--clr-neutral-900);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }

      &:focus,
      &:hover {
        outline: 1px solid var(--clr-purple-400);
        outline-offset: 1px;
        box-shadow: inset 0 0 0 1px var(--clr-neutral-200);
      }

      &:checked {
        background-color: var(--clr-purple-400);
        box-shadow: none;
      }
    }

    div input[type="text"] {
      border: none;
      box-shadow: inset 0 0 0 1px var(--clr-neutral-600);
      border-radius: var(--radius-6);
      width: 5.5rem;
      height: auto;
      padding-block: var(--spacing-4);
      padding-inline: var(--spacing-12);
      outline: none;
      font-size: 1.4rem;
      font-weight: 400;
      letter-spacing: -0.06rem;
    }
  }

  .result {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-24);
  }

  .result__counts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(22.4rem, 100%), 1fr));
    gap: var(--spacing-16);

    div {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-8);
      padding: var(--spacing-20);
      border-radius: var(--radius-12);
      position: relative;
      height: 13rem;
      overflow: hidden;

      @media (min-width: 48em) {
        height: 15rem;
        padding-block: var(--spacing-16);
        padding-inline: var(--spacing-12);
      }

      &::after {
        content: "";
        position: absolute;
        top: -1rem;
        right: -5rem;
        width: 15rem;
        height: 15rem;

        @media (min-width: 48em) {
          top: 0;
          righy: -6rem;
        }
      }

      &:nth-of-type(1) {
        background-color: var(--clr-purple-400);
        &::after {
          background: url(./images/pattern-character-count.svg) no-repeat
            center/contain;
        }
      }

      &:nth-of-type(2) {
        background-color: var(--clr-yellow-500);
        &::after {
          background: url(./images/pattern-word-count.svg) no-repeat
            center/contain;
          right: -3rem;
        }
      }

      &:nth-of-type(3) {
        background-color: var(--clr-orange-500);
        &::after {
          background: url(./images/pattern-sentence-count.svg) no-repeat
            center/contain;
          right: -3rem;
        }
      }
    }
  }

  /* Selects every child but first one */
  .result__text * + * {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.06rem;
    color: var(--clr-neutral-900);
    z-index: 2;
  }

  .result__count {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    color: var(--clr-neutral-900);

    @media (min-width: 48em) {
      font-size: 6.4rem;
    }
  }

  .result__progress-bars {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-20);

    h2 {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.3;
      letter-spacing: -0.1rem;
    }
  }

  .progress {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1.2rem 1.4rem;

    & p {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3;
      color: var(--clr-neutral-900);
      letter-spacing: -0.06rem;
    }
  }

  progress[value] {
    width: 100%;
    height: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
  }

  progress[value]::-webkit-progress-bar {
    background-color: var(--clr-neutral-100);
    border-radius: var(--radius-full);
  }

  progress[value]::-webkit-progress-value {
    background-color: var(--clr-purple-400);
    border-radius: var(--radius-full);
  }
}
